@using Social.NetWork.Dominio
@model Post
@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}

<h1>Crear Post</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Titulo">Titulo del Post</label>
        <input type="text" class="form-control" id="tituloPost" name="titulo" placeholder="Ingrese titulo del Post">

    </div>
    <div class="form-group">
        <label for="Contenido">Contenido del Post</label>
        <textarea class="form-control" name="contenido" id="contenidoPost" rows="3"></textarea>
    </div>

    <div class="form-check form-switch">
        <input type="radio" name="estado" id="radioPrivado" value="0">
        <label class="form-check-label" for="radioPrivado">Post Privado</label>
        <input type="radio" name="estado" id="radioPublico" value="1">
        <label class="form-check-label" for="radioPublico">Post Publico</label>
    </div>

    <div class="form-group">
        <label for="ImagenPost">Imagen del Post</label>
        <br />
        <input type="file" class="form-control-file" id="ImagenPost" name="imagenPost">
    </div>
    <br />
    <input type="submit" value="Publicar" />
</form>